rules_version = '2';
service cloud.firestore {
  match /databases/ai-studio-ca9f3aa4-11db-497e-a121-148f83a66b3f/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
